SERVER_PORT=8080
ENV=development

DB_HOST=localhost
DB_USER=kerjadekat_admin
DB_PASSWORD=SuperSecurePassword123!
DB_NAME=kerjadekat_db
DB_PORT=54325
DB_SSLMODE=disable

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
RABBITMQ_URL=amqp://guest:guest@localhost:5672/

WORKER_LOCATION_TTL_MINUTES=5
MATCH_RADIUS_METERS=5000
MATCH_TIMER_SECONDS=60
MATCH_MAX_ROUNDS=5
JWT_SECRET=7lv9oimJLg6FFclVTrUyzaAF4DLiTXWrXmj11DlUggo=
JWT_ACCESS_EXPIRY_MINUTES=15
JWT_REFRESH_EXPIRY_DAYS=7
